<div class="navbar-inner">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse"
           data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <a class="brand" href="index.html" style="backgroundColor:#ffffff;margin-right:15px;">
            <img alt="Moreover Logo" src="img/logo.png" style="  height: 120px;
    padding: 12px;
    width: 210px;;"/>
        </a>

        <!--<div id="nav-title">-->
            <!--NewsRight Admin Console <img src="img/newsright.png" style="height:25px;margin-bottom:5px">-->
        <!--</div>-->

        <div class="btn-group pull-right" style="margin-top:20px">
            <a class="btn btn-large" href="login.html"><i class="fa fa-sign-out"></i> Log out</a>
        </div>

        <!--<div id="timeframe" style="margin-top:25px"></div>-->
    </div>
</div>