<div class="well nav-collapse sidebar-nav">


    <ul class="nav nav-tabs nav-stacked main-menu">


        <li><a class="ajax-link" href="#patients" id="costingLink"><i class="icon-book"></i><span
                class="hidden-tablet"> Patients Administration</span></a></li>
        <li><a class="ajax-link" href="#patientAppointments" id="appLink"><i class="icon-list"></i><span
                class="hidden-tablet"> Patient Appointments  </span></a></li>
        <li><a class="ajax-link" href="#doctorAppointments" id="appDocLink"><i class="icon-briefcase"></i><span
                class="hidden-tablet"> Doctor Appointments  </span></a></li>
        <li><a class="ajax-link" href="#doctorAdmin" id="appDocLink"><i class="icon-search"></i><span
                class="hidden-tablet"> Doctor Administration  </span></a></li>


    </ul>

</div>
