<div>
    <div class="tab-pane">
        <div class="labelsStyle">
            <label style="height: 37px;">Publication Name:</label>
            <label style="height: 37px;">Licensor Publication Name:</label>
            <label style="height: 37px;">Licensor Source Id:</label>
            <label style="height: 37px;">Click Fee:</label>
            <label style="height: 37px;">Currency:</label>
            <label style="height: 37px;">Action:</label>
            <label style="height: 37px;">Channel:</label>
        </div>
        <div class="fieldsStyle">
            <div style="height: 37px;">{{name}}</div>
            <div style="height: 37px;">{{licensorPublicationName}}</div>
            <div style="height: 37px;">{{pCode}}</div>
            <div data-editors="cost"></div>
            <div style="height: 37px;"><b>{{currency}}</b></div>
            <div data-editors="actionId"></div>
            <div data-editors="channelId"></div>
            <div>
                <button id="addPublicationCancelButton" class="btn btn-link btn-primary"
                        style="float: right; margin-right: 10px">Cancel
                </button>
                <button id="addPublicationSaveButton" class="btn btn-link btn-primary"
                        style="float: right; margin-right: 10px">Save
                </button>
                <img style="float:right" id="loadingImage" src='/img/loading.gif'>
                <button id="previousButton" class="btn btn-link btn-primary" style="margin-right: 10px">
                    Previous
                </button>
            </div>
        </div>
    </div>
</div>