<div style="margin-bottom: 10px; font-weight: bold">
    Please select a Licensed Publication:
</div>
<table id="publicationsTable" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Licensor Publication Name</th>
        <th>Licensor Source Id</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<button id="cancelButton" class="btn btn-link btn-primary" style="float: right">Cancel</button>
<button id="nextButton" class="btn btn-link btn-primary" style="float: right;margin-right:10px;">Next</button>
<div id="modalWindow" style="display: none;">You must select a publication in order to go to the next screen</div>
