<div id="licensorDetails">

    <div id="tabsContent" class="tab-content" style="overflow: hidden">
        <div class="tab-pane active">

            <p class="labelParagraph">{{path}}</p>

            <div> {{labels.displayName}} <p class="labelParagraph">{{publicationName}}</p></div>
            <div> {{labels.licensorPublicationName}} <p class="labelParagraph">{{licensorPublicationName}}</p></div>
            <div>Cost: <p class="labelParagraph">{{displayCost}}</p></div>
            <div>Source Id: <p class="labelParagraph">{{sourceId}}</p></div>
            <div>Action: <p class="labelParagraph">{{action}}</p></div>
            <div>Channel: <p class="labelParagraph">{{channel}}</p></div>
            <div>{{labels.pCode}} <p class="labelParagraph">{{pCode}}</p></div>

        </div>
    </div>

</div>