<div>
    <div class="row-fluid">
        <div id="bundlesMainPanel" class="box span12">
            <div class="box-header well">
                <h2> Bundles</h2>

            </div>

            <div class="box-content">


                <ul class="nav nav-tabs" id="detailTabPanel">

                    <li id="contentBundlesTab" class="active">
                        <a href="#bundles/content">Content</a></li>

                    <li id="pricedBundlesTab">
                        <a href="#bundles/pricing">Pricing</a>
                    </li>
                </ul>

                <div id="content" style="display:inline;"></div>


            </div>
        </div>
    </div>
</div>