.navigationLinks {
    padding: 0px 7px;
    color: grey;
}

.customBreadCrumb {

}

.customBreadCrumb:hover {
    cursor: pointer;
    text-decoration: underline;
}

.addNewImage {
    float: right;
    height: 45px;
    margin-right: 20px;
    margin-top: -10px;
    width: 45px;
}

.textareaConstraints {
    max-height: 60px;
    max-width: 290px;
}

.timeframeBox {
    padding: 0px 20px;
    float: right;
}

#bundleFeeType, #subagreementFeeType {
    list-style-type: none;
    display: inline;
}

#bundleFeeType li, #subagreementFeeType li {
    float: left;
    padding-left: 25px;
}

#priceFeeType, #costFeeType {
    list-style-type: none;
    display: inline;
}

#priceFeeType li, #costFeeType li {
    float: left;
    padding-left: 25px;
}

.addNewItem {

    float: right;
    color: #000000;
    text-decoration: none;
    margin-right: 10px;

}

.calendarImage {
    width: 30px;
    height: 28px;
    margin-left: 2px;
    margin-top: -9px;
}

.messagesDiv {
    display: none;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*border: 1px solid #DDDDDD;*/
    /*padding: 10px;*/
    /*margin-bottom: 5px;*/
}

.successMessageContainer {
    /*margin-left: 175px;*/
    /*width: 298px;*/
}

.messageSuccess {
    display: none;
    margin: 0px;
    color: green;
}

.messageError {
    display: none;
    margin: 0px;
    color: red;
}

.textareaStyle {
    height: 61px;
    max-height: 61px;
    max-width: 211px;
    width: 211px;
}

.labelsStyle {
    /*border: 1px solid #DDDDDD;*/
    display: block;
    float: left;
    height: 500px;
    padding: 0 10px;
    text-align: right;
    width: 145px;
}


.adjustmentsLabelsStyle {
    /*border: 1px solid #DDDDDD;*/
    display: block;
    float: left;
    height: 800px;
    padding: 0 10px;
    text-align: right;
    width: 156px;
}

.labelsStyle label, .editLabelsStyle label {
    padding: 10px;
    margin-bottom: 0;
}

.adjustmentsLabelsStyle label, .editLabelsStyle label {
    padding: 10px;
    margin-bottom: 0;
}

.editLabelsStyle {
    /*border: 1px solid #DDDDDD;*/
    display: block;
    float: left;
    height: 500px;
    padding: 0 10px;
    text-align: right;
    min-width: 135px;
}

.fieldsStyle {
    display: block;
    height: 650px;
    min-width: 149px;
    border: 1px solid #DDDDDD;
    margin-left: 170px;
    /*overflow: auto;*/
    padding: 0 10px;
}

.adjustmentsFieldsStyle {
    display: block;
    height: 800px;
    min-width: 149px;
    border: 1px solid #DDDDDD;
    margin-left: 170px;
    /*overflow: auto;*/
    padding: 0 10px;
}

.fieldsStyle div {
    padding: 10px;
    width: 100%
}

.adjustmentsFieldsStyle div {
    padding: 10px;
    width: 100%
}
.labelParagraph {
    display: inline-block;
    font-weight: bold;
}

.height400 {
    height: 430px;
}

.labelInForm {
    display: inline-block;
    font-weight: bold;
    width: 150px;
    float: left;
    padding: 4px 10px 0 0;
}

.deleteAction {
    text-align: center
}

.deleteAction img {
    height: 20px;
}

.deleteAction img:hover {
    cursor: pointer;
}

tr {
    cursor: pointer;
}

tr.row_selected td {
    background: lightblue !important;
    cursor: pointer;
}

tr.odd.row_selected td {
    background: lightblue !important;
    cursor: pointer;
}

.sliderCls {
    width: 40px;
    color: black;
}

.fieldsStyle div#splitRatioSlider {
    display: inline-block;
    margin: 7px 10px 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
}

.fieldsStyle div#splitRatioSlider div {
    padding: 0;
}

#ui-datepicker-div {
    z-index: 2 !important;
    cursor: pointer;
}

.searchCss {
    text-align: right;
}

.searchCss input {
    width: 150px;
}

.rightArrow {
    background-image: url("/img/navigate-right-blue.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 100px;
    height: 600px;
    width: 30px !important;
    opacity: 0.7;
    cursor: pointer;
}

.rightArrow:hover {
    opacity: 1;
}

.leftArrow {
    background-image: url("/img/navigate-left-blue.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 100px;
    height: 600px;
    width: 30px !important;
    opacity: 0.6;
    cursor: pointer;
}

.leftArrow:hover {
    opacity: 1;
    cursor: pointer;
}

.newLeftArrow {
    background-image: url("/img/prev_button.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 40px;
    width: 38px !important;
    opacity: 0.85;
    cursor: pointer;
    float: left !important;
    padding: 0 30px;
    margin-top: 10px;
}

.newLeftArrow:hover {
    opacity: 1;
    cursor: pointer;
}

.newRightArrow {
    background-image: url("/img/next_button.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 40px;
    width: 38px !important;
    opacity: 0.85;
    cursor: pointer;
    float: right ! important;
    padding: 0 30px;
    margin-top: 10px;
}

.newRightArrow:hover {
    opacity: 1;
    cursor: pointer;
}

.leftAlignClass {
    text-align: left;
}

.rightMargin {
    margin-left: 56px !important;
}

.addButton {
    display: block;
    float: right !important;
    margin-bottom: 2px;
    margin-right: 10px;
    padding: 6px 14px;
}

.breadcrumb {
    /*centering*/
    display: inline-block;
    box-shadow: 0 0 5.5px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 21px;
    color: #555555 !important;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    /*padding: 0px 10px 0px 55px !important;*/
    padding: 0 18px 0 28px !important;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
    /*padding-left: 46px;*/
    border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
    color:#ffffff !important;
}

.breadcrumb a:first-child:before {
    /*left: 14px;*/
}

.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
    padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover {
    background: #333;
    background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after, .breadcrumb a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -11px; /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 24px;
    height: 20px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    -webkit-transform: rotate(45deg) !important;

    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    /*stylish arrow design using box shadow*/
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
        5px - for rounded arrows and
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}

/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
    content: none;
}

/*we will use the :before element to show numbers*/
.breadcrumb a:before {
    /*content: counter(flag);*/
    /*counter-increment: flag;*/
    /*some styles now*/
    /*border-radius: 100%;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*line-height: 20px;*/
    /*margin: 8px 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 30px;*/
    /*background: #444;*/
    /*background: linear-gradient(#444, #222);*/
    /*font-weight: bold;*/
}

.flat a, .flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}

.flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after {
    background: #7BB33D;
    /*background: #2c90c9;*/
}

.breadcrumbsDivDesign {
    font-family: 'Merriweather Sans', arial, verdana !important;
    text-align: center !important;
    margin-left: 16px;
    margin-top: 16px;
    font-size: 11px !important;
    font-weight: bold !important;
}





.drop-style{

    max-width: 122px;
    border-radius: 0.3em;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.85em;
    font-weight: normal;
    height: 2.2em;
    margin: 2px;
    overflow: hidden;
    padding: 0.3em 0.6em;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    transition: box-shadow 200ms ease 0s, border-color 200ms ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}

.drop-small-style{

    max-width: 90px;
    border-radius: 0.3em;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.85em;
    font-weight: normal;
    height: 2.2em;
    margin: 2px;
    overflow: hidden;
    padding: 0.3em 0.6em;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    transition: box-shadow 200ms ease 0s, border-color 200ms ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}


.reasonTextarea {
    margin-top: 15px;
    max-height: 50px;
    max-width: 257px;
}