@import url('bootstrap-cerulean.css');
    /*@import url('bootstrap-responsive.css');*/
@import url('charisma-app.css');
@import url('jquery-ui-1.8.21.custom.css');
@import url('common.css');
@import url('tsc_breadcrumbs.css');
@import url('jquery.ui.datepicker.css');
@import url('font-awesome/css/font-awesome.min.css');

body {
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

#nav-title {
	float:left;
	display:block; 
	font-size:28px; 
	color:gray; 
	margin-top:37px; 
	margin-left:20px;
}