<div class="tab-pane" id="costingSubagreementEdit">
    <div id="editSubagreementLabels" class="labelsStyle">
        <label style="height: 37px;">Patient:</label>
        <label style="height: 37px;">Location:</label>
        <label style="height: 37px;">Specialization:</label>
        <label style="height: 37px;">Date:</label>
        <label style="height: 37px;">Time:</label>
        <label style="height: 37px;">Comment:</label>
    </div>
    <div class="fieldsStyle">
        <div data-editors="userId"></div>
        <div data-editors="locationId"></div>
        <div data-editors="specializationId"></div>
        <div data-editors="date"></div>
        <div data-editors="time"></div>
        <div data-editors="comment"></div>
        <div>
            <button id="editCancelButton" class="btn btn-link btn-primary" style="float: right; margin-right: 10px">Cancel</button>
            <button id="editSaveButton" class="btn btn-link btn-primary" style="float: right; margin-right: 10px">Save</button>
        </div>
    </div>
</div>
