
<div id="searchDiv">

    <label style="display:inline;color: #317EAC;font-size:14px;">Specialization: </label>

    <select id="selectSpec" style="display:inline;" class="drop-style"></select>
    <label style="display:inline;color: #317EAC;font-size:14px;">Location: </label>

    <select id="selectLoc" style="display:inline;" class="drop-style"></select> <br>

</div><br>
<table id="licensorsTable" class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Specialization</th>
        <th>Location</th>

    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
