<div id="licensorDetails">

    <div id="tabsContent" class="tab-content" style="overflow: hidden">
        <div class="tab-pane active">

            <p class="labelParagraph">{{path}}</p>

            <div>Id: <p class="labelParagraph">{{id}}</p></div>
            <div>User: <p class="labelParagraph">{{userId}}</p></div>
            <div>Doctor: <p class="labelParagraph">{{doctorId}}</p></div>
            <div>Location: <p class="labelParagraph">{{locationId}}</p></div>
            <div>Specialization: <p class="labelParagraph">{{specializationId}}</p></div>
            <div>Date: <p class="labelParagraph">{{date}}</p></div>
            <div>Time: <p class="labelParagraph">{{time}}</p></div>
            <div>Comment: <p class="labelParagraph">{{comment}}</p></div>
            <div>Is canceled: <p class="labelParagraph">{{isCanceled}}</p></div>

        </div>
    </div>

</div>