<div>
    <div class="row-fluid">
        <div id="licensorsMainPanel" class="box span12">
            <div class="box-header well">
                <h2 id="pageType"> Patients</h2>

            </div>
            <div class="box-content">

                <div id="licensorView" class="row-fluid">
                    <div id="licensorsSpan" class="box span6" style="height: 750px;">



                        <div class="row-fluid" style="max-height:20px">
                            <div id="navigationInfoPanel" style="margin-top:20px;" class="span9 center"></div>
                        </div>


                        <div class="row-fluid">
                            <button id="seeAppointments" style="  margin-right: 10px;float:right" class="btn btn-link btn-success" > See appointments </button>
                            <button id="backButton" style="  margin-right: 10px;float:right" class="btn btn-link btn-success" > Back to patients </button>
                            <div id="licensorsPanel" align="center" class="span12"
                                 style="height: 750px;overflow:auto;padding:20px;"></div>

                        </div>
                    </div>

                    <div class="box span6" style="height: 750px;overflow:auto;">
                        <div class="box-header well">
                            <h2 id="licensorDetailTitle"></h2>
                            <div id="addDiv">
                                <button id="addButton" style="  margin-right: 10px;float:right" class="btn btn-link btn-success" > Add patient</button>
                                <button id="cancelAppButton" style="  margin-right: 10px;float:right" class="btn btn-link btn-success" > Cancel appointment</button>

                            </div>


                        </div>

                        <div id="operationsView" class="box-content">
                            <ul class="nav nav-tabs" id="detailTabPanel">
                                <li id="details" class="active">
                                    <a>Details</a></li>
                                <li id="edit">
                                    <a>Edit</a>
                                </li>


                            </ul>

                            <div id="infoPanel"></div>

                            <div id="agreementDetail">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>