<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <listener>
        <listener-class>com.web.api.rest.HealthHarvesterWebContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>Guice Filter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Guice Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <!--<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>-->
        <init-param>
            <param-name>mimeTypes</param-name>
            <param-value>text/javascript,text/css,audio/mpeg</param-value>
        </init-param>
        <init-param>
            <param-name>cacheControl</param-name>
            <param-value>max-age=1,public</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <welcome-file-list>
        <welcome-file>
            index.html
        </welcome-file>
    </welcome-file-list>
</web-app>
