<div class="tab-pane" id="costingSubagreementAdd">
    <div id="editSubagreementLabels" class="labelsStyle">
        <label style="height: 37px;">Name:</label>

        <label style="height: 37px;">Currency:</label>
        <label style="height: 37px;">Effective Date:</label>
        <label style="height: 37px;">Expiry Date:</label>
        <label style="height: 70px;">Comment:</label>
    </div>
    <div class="fieldsStyle">
        <div data-editors="name"></div>
        <div data-editors="currency"></div><br>
        <div style="width:70px;display:inline;height: 70px;" data-editors="effectiveYear"></div>
        <div style="width:70px;display:inline;height: 70px;" data-editors="effectiveMonth"></div>
        <br><br>
        <div style="width:70px;display:inline;height: 70px;" data-editors="expiryYear"></div>
        <div style="width:70px;display:inline;height: 70px;" data-editors="expiryMonth"></div>
        <br><br>
        <div data-editors="comment"></div>
        <div>
            <button id="addAgreementCancelButton" class="btn btn-link btn-primary" style="float: right; margin-right: 10px">Cancel</button>
            <button id="addAgreementSaveButton" class="btn btn-link btn-primary"  style="float: right; margin-right: 10px">Save</button>
            <img style="float:right" id="loadingImage" src='/img/loading.gif'>
        </div>
    </div>
</div>