<div class="tab-pane" id="costingSubagreementEdit">
    <div id="editSubagreementLabels" class="labelsStyle">
        <label style="height: 37px;">Name:</label>
        <label style="height: 70px;">Comment:</label>
        <label style="height: 37px;">Effective Date:</label>
        <label style="height: 37px;">Expiry Date:</label>
    </div>
    <div class="fieldsStyle">
        <div data-editors="name"></div>
        <div data-editors="comment"></div>
        <div data-editors="effectiveDate"></div>
        <div data-editors="expiryDate"></div>
        <div>
            <button id="editAgreementCancelButton" class="btn btn-link btn-primary" style="float: right; margin-right: 10px">Cancel</button>
            <button id="editAgreementSaveButton"  class="btn btn-link btn-primary" style="float: right; margin-right: 10px">Save</button>
            <img style="float:right" id="loadingImage" src='/img/loading.gif'>
        </div>
    </div>
</div>