<div>
    <div id="contentBundlesMainPanel">
        <div id="bundleView" class="row-fluid">
            <div class="row-fluid">
                <div class="box span6" style="height: 750px; overflow: auto;">
                    <div id="breadcrumbsDiv" class="breadcrumb flat breadcrumbsDivDesign">
                        <a class="active" id="firstLevelTitle"></a>
                        <a id="secondLevelTitle"></a>
                        <a id="thirdLevelTitle"></a>
                    </div>

                    <div class="row-fluid" style="max-height:20px">
                        <div id="navigationInfoPanel" style="margin-top:20px;" class="span9 center"></div>
                    </div>

                    <div class="row-fluid">
                        <div id="switchToLeft" class="span4 newLeftArrow">
                            <p id="prevLabel" style="margin-left:20px;margin-top:10px;">Bundles</p>
                        </div>
                        <div id="switchToRight" class="span4 newRightArrow">
                            <p id="nextLabel" style="float: right;margin-right: 20px;margin-top: 10px;">Publications</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="bundlesPanel" align="center" class="span12" style="overflow:auto;padding:20px;">
                        </div>
                    </div>
                </div>

                <div class="box span6" style="height: 750px; overflow: auto;">
                    <div id="addBundleDiv" style="display: block;margin-bottom: 17px;padding: 7px 0;">
                        <button id="addBundleButton" style="  margin-right: 10px;float:right"
                                class="btn btn-link btn-success">Add Bundle
                        </button>
                    </div>

                    <div id="operationsView" class="box-content">
                        <ul class="nav nav-tabs" id="detailTabPanel">
                            <li id="details" class="active">
                                <a>Details</a>
                            </li>
                            <li id="edit">
                                <a>Edit</a>
                            </li>
                            <li id="expire">
                                <a>Expire</a>
                            </li>

                            <div id="addDiv">
                                <button id="addButton" style="  margin-right: 10px;float:right"
                                        class="btn btn-link btn-success">Add Subagreement
                                </button>
                            </div>
                        </ul>

                        <div id="infoPanel"></div>

                        <div id="bundleDetail" class="span11"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>